.contact_container{
    text-align: center;
    justify-content: center;
    align-items: center;
    top:50%;
    bottom:10%;
   transform: translateY(50%);
   height: 90vh;
}
@media screen and(max-width:770px){
    .contact_container{
        height: 50vh;
    }
}
a{
    text-decoration: none;
    color:red;
}
